@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --white: #FFF;
    --grey:#F1F5F8;
    --black:#063251;
}

*{
    transition: all 0.2s ease-in-out;
    font-family: "Raleway", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    color: var(--black);

    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 30vw;
    background-color: var(--white);
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 25vh;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header form input{
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 1px solid #DAE4EC;
    padding: 5px 10px;
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.header form input:active,
.header form input:focus-visible{
    border: none;
    border-bottom: 1px solid #007FFF;
    outline: none;
}

.header form input::placeholder{
    font-weight: 500;
}

.clearAll-btn,
.header form button{
    background-color: #cedee9;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 5px 25px;
    margin: 5px;
    font-size:0.9em;
    font-weight: 600;
    cursor: pointer;
    /* letter-spacing: 2px; */
}

.clearAll-btn:hover,
.header form button:hover{
    transform: scale(1.025);
}

.clearAll-btn:active,
.header form button:active{
    transform: scale(0.975);
}

 /* Grocery List  */

.display-list{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.display-list .list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 25px;
    border-radius: 5px;
}

.display-list .list-item:hover{
    background-color: var(--grey);
}

.display-list .list-item:hover .icon{
    display: block;
}

.display-list .list-item h3{
    font-size: 1.2em;
}

.display-list .list-item .icon{
    width: 25px;
    height: auto;
    cursor: pointer;
    display: none;
}

.display-list .list-item .icon:hover{
    transform: scale(1.1    );
    will-change: transform;
}

.clearAll-btn{
    background-color: rgb(255, 0, 0, 0.2);
    color: var(--white);
    width: 102.3%;
    margin-left: -5px;
}

 /* Checkboxes */
    .checkbox-wrapper-15{
        padding-top: 10px;
        padding-bottom: 10px;
    }

  .checkbox-wrapper-15 .cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  .checkbox-wrapper-15 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-15 .cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-15 .cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 6px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-15 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
  }
  .checkbox-wrapper-15 .cbx span:last-child {
    margin-left: 8px;
  }
  .checkbox-wrapper-15 .cbx span:last-child:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #B9B8C3;
    transform-origin: 0 0;
    transform: scaleX(0);
  }
  .checkbox-wrapper-15 .cbx:hover span:first-child {
    border-color: #3c53c7;
  }

  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
    border-color: #3c53c7;
    background: #3c53c7;
    animation: check-15 0.6s ease;
  }
  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
  }
  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
    color: #B9B8C3;
    transition: all 0.3s ease;
  }
  .checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child:after {
    transform: scaleX(1);
    transition: all 0.3s ease;
  }

  @keyframes check-15 {
    50% {
      transform: scale(1.2);
    }
  }
